body{
 background-color : var(--bs-dark);
 color : var(--bs-gray-400) ;
 padding : 10% ;
}
.a , .b {
 text-align : right ;
 width : 55px ;
}
.x{
 padding-left : 5px ;
 padding-right : 5px ;
}
.ans {
 width : 150px ;
 height : 20px ;
 background-color : var(--bs-dark);
 color : var(--bs-gray-400) ;
}
